.animate-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.7s ease-out;
}

/* 延迟类 */
.delay-100 {
  transition-delay: 100ms;
}

.delay-200 {
  transition-delay: 200ms;
}

.delay-300 {
  transition-delay: 300ms;
} 